.container {
    width: 75vw;
    margin: 40px auto;
    max-width: 960px;
  } 
  
  body {
    font-family: "Merriweather", sans-serif;
    margin: 0;
    line-height:1.6rem;
    background-color: #1E1E1E;
    color:#ffffff;
  }
  
  header.primary {
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('../img/dragon-in-space.jpg');
    min-height: 100vh;
    background-size: cover;
    
  }
  
  header.primary nav {
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid var(--gray);
  }



header.primary .nav-right a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 30px;
  position: relative;
}

  
  #content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    padding-bottom: 2.9rem;
  }
  
  #content article.post {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  article.post figure {
    margin: 0;
  }
  
  time.post-date,
  figcaption,
  .post-meta {
    text-transform: uppercase;
    color: #ffffff;
  }
  
  article.post figure img {
    border: 1px solid #ffffff;
    padding: 2px;
    border-radius: 4px;
    margin: 3px auto;
  }
  
  article.post a {
    color: #ffffff;
  }
  
  article.post a:hover {
    text-decoration: none;
  }
  
  
  /* Attribute Selector Example*/
  aside[role="complementary"] {
    background-color: #000000;
    color: #ffffff;
    padding: 1.9rem;
  }
  
  aside .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  aside article.widget {
    width: 43%;
  }
  
  article.widget a:last-of-type {
    color: rgb(255, 255, 255);
    display: block;
    text-align: right;
    margin-top: 0.8rem;
  }
  
  article.widget footer {
    display: none;
  }
  
  #colophon {
    background-color: #000000;
  }
  
  #colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  @media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      width: 60vw;
      margin: 0 auto;
    }
    header.primary nav a {
      display: block;
    }
    header.primary nav li {
      margin-bottom: 10px;
    }
    
    #content {
      flex-direction: column;
      }
      #content article.post{
      width:100%;
      margin-bottom:20px;
      }
      
      aside .container {
      flex-direction:column;
    }
      aside .container article.widget{
        width:100%;
      }
      
    }
    